<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Index!</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
	<div class="container mt-4">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>DNI</th>
					<th>Correo</th>
					<th>Username</th>
					<th>Password</th>					
					<th>Cargo</th>					
					<th>más</th>					
				</tr>
			</thead>
			<tbody>
				<tr th:each="u:${usuarios}">
					<td th:text="${u.Id}"></td>
					<td th:text="${u.Nombre}"></td>
					<td th:text="${u.Apellido}"></td>
					<td th:text="${u.DNI}"></td>
					<td th:text="${u.Correo}"></td>
					<td th:text="${u.Username}"></td>
					<td th:text="${u.Password}"></td>
					<td th:text="${u.Cargo}"></td>
					<td>
					<a th:onclick="eliminar([[${p.id}]])" href="#">delete</a>
					<a th:href="@{/listar/}+${p.id}">editar</a>
					</td>										
				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>